body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: whitesmoke;
    color: darkslategray;
}

.container {
    margin: 0 auto;
    position: relative;
    background: white;
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1152px;
        width: 1152px;
    }
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.rankings {
    padding: 50px;
}

.team {
    background: darkslateblue;
    color: #d2d0de;
    padding: 50px;
    border-radius: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.team a {
    color: white;
    font-weight: 900;
}

.label {
    font-weight: 200;
    font-size: 12px;
}

td, th {
    padding: 5px;
}

.lighter {
    color: darkslategray;
    font-weight: 400;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo-small {
    width: 15px;
    height: 15px;
}

.team-header {
    align-items: center;
}

.team-header-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.team-header > * {
    margin: 0 10px;
}

.team-table {
    font-size: 12px;
}

img {
    padding: 10px;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: -1.25rem;
}



/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #222222;
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #222222;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #222222 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}